<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fake News Detection</title>
</head>
<body>
    <h1>Fake News Detection</h1>
    <form action="/result" method="POST">
        <div class="tfTest">
            <label for="tfTest">Enter News</label>
            <!-- <input type="text" id="tfTest" name="tfTest" required="true" > -->
            <textarea id="tfTest" name="tfTest" rows="4" cols="50" required="true"></textarea>
        </div>
        <input type="submit" name="testOP" placeholder="test-data" value="Submit">
    </form>
</body>
</html>